.carousel-item img {
    height: 60vh! important;
}

nav a img {
    height: 20px;
    width: 80px;
}
.carousel-caption h3, 
.carousel-caption h5 {
    font-weight: 500;
}

.container-icons {
    margin-top: 80px;
}

.container-icons .row div {
 text-align: center;
}

.container-icons .row div i{
    opacity: 0.8;
   }

.container-icons {
    text-align: center;
}

.subititle {
    padding-top: 80px;
}
/* 
.card img {
    height: 130px;
    width: 250px;
} */